<% include ../partials/header.ejs %>

<form method="POST" action="/articles">
    <input type="text" name="title" placeholder="Article title"><br>
    <input type="text" name="body" placeholder="Article body"><br>
    <input type="submit">
</form>

<% include ../partials/footer.ejs %>